#colaboratorsModal{
    #addInput{
        border-radius: 2vh 0vh 0vh 2vh;
        height: 6vh;

    }

    #addButton{
        border-radius: 0 2vh 2vh 0;
        height: 6vh;
        background-color: $cAccent;
    }
}