#index {
    #presentationHeader {
        background-image: url(../../../public/storage/img/index/header.jpg) !important;
        background-repeat: no-repeat;
        background-size: cover;
        background: center;
        display: flex; 
        justify-content: center; 
        align-items: center;
        text-align: center; 
        height: 70vh;
    
        h1 {
            width: 25vh;
            margin: 0;
            color: white;
            text-shadow: 2px 2px 2px $cAccent; 
            text-align: center;
        }
    }
}
